<img class="footericon" src="presto-1-removebg-preview.png" alt="">

  <div class="bottom-container">

    <a class="fab fa-linkedin" href="https://www.linkedin.com/in/robson-manata-07926a180"  style="font-size: 1em; color: #eaebec;margin-top:100px;margin-right:20px;position:static;margin-left:70px"></a>
    <a class="fab fa-twitter" href="https://twitter.com/Robsonmanata" style="font-size: 1em; color: #eaebec;margin-top:100px;margin-right:20px;position:static" ></a>
    <a class="fab fa-instagram" href="https://www.instagram.com/webart_inc/"  style="font-size: 1em; color: #eaebec;margin-top:100px;margin-right:20px;position:static"></a>
    <p class="copyright"> © 2021 Robson Manata</p>
  </div>


</section>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
//responsive navbar

function myFunction() {
  var x = document.getElementById("myNavbar");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "navbar";
  }
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/css3-animate-it.js"></script>
</body>
</html>
