<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Css/styles.css">
    <link rel="stylesheet" href="/animations.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Jura:wght@300;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200&family=Play:wght@400;700&family=Saira+Condensed:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>robson</title>
  </head>
  <body>
    <div class="floating" onclick="topFunction()" id="myBtn" title="Go to top"><i style="width:30px" class="fas fa-angle-double-up"></i> </div>
      <!-- <div class="navbar">

          <a href="/">  <img style="width: 60px;height: 60px;margin-left: 150px;margin-top:65px;margin-bottom:0;" src="presto-1-removebg-preview.png" alt=""></a>
          <a style="margin-left:500px" href="/about">About</a>
          <a href="../#serviceSection">Services</a>
          <a href="/portfolio">Portfolio</a>
          <a href="/blog">Blog</a>
          <form style="display:inline-block;position:relative" class="" action="../#contactSection">
            <button class="morphism" type="submit" name="button">Hire Me</button>
          </form>

      </div> -->
      <div class="navbar" id="myNavbar">


        <a href="/">  <img src="presto-1-removebg-preview.png" alt=""></a>
        <a class="aboutspace" href="/about">About</a>
        <a href="/#serviceSection">Services</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/blog">Blog</a>
        <a class="morphism" href="#contactSection">Hire Me</a>

         <a href="javascript:void(0);"  class="icon humburger" onclick="myFunction()">&#9776;</a>



      </div>
