<%-include("partials/header")-%>


<div class="mypic">
  <div class="circle"></div>
  <img style="width:300px;height:300px;display: inline-block;position: relative;  right:250px;top:20px;"src="circle-cropped.png" alt="">
  <div class="about">
    <h1>About me</h1>
    <p style="font-size:18px">i am <b><ins>Robson Manata</ins></b> a <ins>Front</ins>end and <ins>Back</ins>end developer based in Wroclaw Poland,I enjoy turning complex problems into simple, beautiful and intuitive designs. When I'm not coding or pushing pixels, you'll find me cooking, on a football pitch or working out </p>
  </div>
  </div>
<section class="middle2">
  <div class="coderDesign">
    <div class="coder">
<h1 style="font-size:38px">Coder</h1>
<p style="font-size:18px">Front End/Back End Developer who focuses on writing clean,elegent and efficient code insuring the best possible functionality</p>
    </div>
    <div class="coderimg">
      <img src="brainstorm-power-thinking-abstract-brain-logo-vector-22755704-removebg-preview.png" alt="">
    </div>
    <div class="designer">
<h1 style="font-size:38px">Designer</h1>
<p style="font-size:18px">UI/UX Designer with a passion for designing beautiful and functional user experience.i belive every detail counts</p>
    </div>

  </div>
</section>
<section class="middle3">
  <div class="skills">
    <div style="left: 240px;width:300px ;background-color:#ffaf29; #ffaf29;height: 2px;display: inline-block;position:relative;"></div>
    <h1 style="margin-left:255px;display:inline-block">Skills Overview</h1>
    <div style="left: 15px;width:300px ;background-color:#ffaf29;height: 2px;position:relative;display: inline-block;"></div>
    <div class="myskill">
      <div class="skill1">
        <img style="width: 50px;height: 50px;margin-left: 25px;margin-top: 0px;position: relative;  bottom: 25px;"src="download__1_-removebg-preview.png" alt="">
        <p>javascipt/ES6</p>
        <p>React</p>
        <p>Css/Html</p>
        <p>jquery</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
      </div>
      <div class="skill1">
        <img style="width: 50px;height: 50px;margin-left: 25px;margin-top: 0px;position: relative;  bottom: 25px;"src="unnamed__2_-removebg-preview.png" alt="">
         <p>Nodejs</p>
        <p>Expressjs </p>
        <p>Mongodb</p>
        <p>Mysql</p>
        <p>API's</p>
        <p>.</p>
        <p>.</p>

      </div>
      <div class="skill1">
        <img style="width: 50px;height: 50px;margin-left: 25px;margin-top: 0px;position: relative;  bottom: 25px;"src="download__2_-removebg-preview.png" alt="">
        <p>java </p>
        <p>C++</p>
        <p>linux/Unix</p>
        <p>Git</p>
        <p>CCNA Routing and Switching:Networks</p>
        <p>Cyber security essentials</p>
        <p>AdobeInDesign</p>
      </div>

    </div>

  </div>
</section>



  <%-include("partials/footer")-%>
