<%-include("partials/header")-%>

<section class="blogsection">

<div class="">
  <div class="largeblog">
<img style="width:600px;height:400px" src="../Slide27articlesaccessible-design-for-users-with-disabilities.png" alt="">
<p style="padding:20px">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod "Lorem ipsum
  dolor sit amet, consectetur adipiscing elit, sed do "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod sed do "Lorem ipsum dolor sit amet, consectetur adipiscing
   elit, sed do eiusmod sed do "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod sed do "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
  </div>
  <div class="subblogs">
<img style="width:250px;height:150px;" src="../characteristics-of-project-lifecycle.png" alt="">
<p style="padding:20px">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod </p>
  </div>
  <div class="subblogs">
<img style="width:250px;height:150px;" src="../unnamed (3).png" alt="">
<p style="padding:20px">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod</p>
  </div>
    <div class="subblogs2">
  <img style="width:250px;height:150px;" src="../Effective-Database-Management-Cover-01.png" alt="">
  <p style="padding:20px">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod</p>
    </div>
    <div class="subblogs2">
  <img style="width:250px;height:150px;" src="../responsive-design-ss-1-800x450.jpg" alt="">
  <p style="padding:20px">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod</p>
    </div>

</div>

</section>


<%-include("partials/footer")-%>
