<%-include("partials/header")-%>

<section class="blogsection">
<div class="blogpage">
  <a href="https://uxplanet.org/accessible-design-is-for-all-bb83bb2b4b2f">
  <div class="largeblog">
<img src="../Slide27articlesaccessible-design-for-users-with-disabilities.png" alt="">
<p>Over 15% of the world’s population of which more than 1 billion people have disability, shown in a report by WHO (world health organization) and this number will increase to double by the year 2050.
As we are living in a fast-paced world with lots of information without any cost is available at our disposal. The Internet has become a big part of our life, a source of information, where we learn, have fun, interact with people around the world and all the other things too.</p>
  </div>
  </a>
  <a href="https://www.futurelearn.com/info/courses/importance-of-project-management-in-global-construction/0/steps/46418">
  <div class="subblogs">
<img src="../characteristics-of-project-lifecycle.png" alt="">
<p>The five stages of the project life cycleProject management is mapped into process.. </p>
  </div>
  </a>
  <a href="https://blog.uptrends.com/featured/the-evolution-of-modern-web-applications-and-their-monitoring/">
  <div class="subblogs">
<img src="../unnamed (3).png" alt="">
<p>"Web applications continue to evolve at an unbelievable pace, and ...</p>
  </div>
  </a>
  <a href="https://www.multiview.com/resources/blog/effective-database-management-10-important-rules-managing-associations-data/">
    <div class="subblogs2">
  <img src="../Effective-Database-Management-Cover-01.png" alt="">
  <p>"Effective database management – the 10 most important rules you should follow for oprimasation</p>
    </div>
    </a>
    <a href="https://blog.hubspot.com/marketing/responsive-web-design">
    <div class="subblogs2">
  <img src="../responsive-design-ss-1-800x450.jpg" alt="">
  <p>It's no secret that more and more people are accessing the internet using their mobile devices</p>
    </div>
     </a>
</div>

</section>


<%-include("partials/footer")-%>
