<%-include("partials/header")-%>

<section class="blogsection">
<div class="blogpage">
  <div class="largeblog">
<img src="../Slide27articlesaccessible-design-for-users-with-disabilities.png" alt="">
<p>Over 15% of the world’s population of which more than 1 billion people have disability, shown in a report by WHO (world health organization) and this number will increase to double by the year 2050.
As we are living in a fast-paced world with lots of information without any cost is available at our disposal. The Internet has become a big part of our life, a source of information, where we learn, have fun, interact with people around the world and all the other things too.</p>
  </div>
  <div class="subblogs">
<img src="../characteristics-of-project-lifecycle.png" alt="">
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod </p>
  </div>
  <div class="subblogs">
<img src="../unnamed (3).png" alt="">
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod</p>
  </div>
    <div class="subblogs2">
  <img src="../Effective-Database-Management-Cover-01.png" alt="">
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod</p>
    </div>
    <div class="subblogs2">
  <img src="../responsive-design-ss-1-800x450.jpg" alt="">
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod</p>
    </div>

</div>

</section>


<%-include("partials/footer")-%>
