<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="Css/styles.css">
  <link rel="stylesheet" href="/animations.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Jura:wght@300;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200&family=Play:wght@400;700&family=Saira+Condensed:wght@100;200;300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <title>Web developer</title>
</head>

<body>

<div class="floating"onclick="topFunction()" id="myBtn" title="Go to top"><i  class="fas fa-angle-double-up"></i> </div>

  <section class="top">
    <div class="navbar" id="myNavbar">


      <a href="/">  <img src="presto-1-removebg-preview.png" alt=""></a>
      <a class="aboutspace" href="/webdeveloper">About</a>
      <a href="#serviceSection">Services</a>
      <a href="/websitedesign">Portfolio</a>
      <a href="/blog">Blog</a>
      <a class="morphism" href="#contactSection">Hire Me</a>

       <a href="javascript:void(0);"  class="icon humburger" onclick="myFunction()">&#9776;</a>



    </div>


    <div class="myname">
      <h1>Robson Manata</h1>
    </div>
    <span class ="underlineName"></span>


    <div class="socials">

      <span class="socialsicon">
        <a class="fab fa-instagram" href="https://www.instagram.com/webart_inc/"></a>
      </span>

      <span class="socialsicon">
        <a class="fab fa-twitter" href="https://twitter.com/Robsonmanata"></a>
      </span>
      <span class="socialsicon">
        <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/robson-manata-07926a180"></a>
      </span>
      <div class="homepageimage">
        <span class="line1"></span>
        <span class="line2"></span>
        <img src="imgbin_cube-graphics-three-dimensional-space-data-png.png" alt="">

      </div>
    </div>
    <div class="me">
      <h1>UI/UX Designer</h1>
      <p>I take pride in creating products that provide meaningful and relevant experiences to users. This involves the design of the entire process of acquiring and integrating the product, including aspects of branding, design, usability and function.
    I pay particular attention to composition, graphic design and I have a neck for palettes and typography which I use to make an interface shine and have its own identity .</p>
    </div>
    <div class="me2">
      <h1>Developer</h1>
      <p>I make no excuses when it comes to performance. I create with the consumer in mind, so I put much effort in understanding user needs, developing software solutions,
        monitoring performance and modifying programs as needed .</p>
    </div>

  </section>
  <section class="middle1">
    <div class="contact animatedParent">
      <div class="contact1 animated  fadeInDownShort ">
        <p style="font-weight:900;">- contact</p>
        <h2>Any type of query & Discussion .</h2>
        <p>I am more than happy to take the time and talk to you or answer any questions about your project idea and how it can be implemented .</p>
         <a href="#contactSection">send a message ✉</a>
        <!-- <h5>send a message></h5> -->
      </div>
      <div class="contact2 animated  fadeInDownShort" id="serviceSection">

        <h2>You can't use up creativity the more you use , the more you have at your disposal .</h2>
        <h5>-Maya Angelou-</h5>
        <p>I have been building websites and web applications for quite a while working mostly as a freelancer and on personal projects check out my portfolio to have a feel of what I am capable of .</p>
        <h1>2</h1>
        <h6>Years of experience</h6>
        <h1 >100%</h1>
        <h6>projcet success</h6>
      </div>
    </div>

    <div class="service animatedParent" data-appear-top-offset='300'>
      <div class="service1 animated  fadeInLeftShort  delay-500">
        <h2>Responsive Web Designing</h2>

      </div>
      <div class="service2">
        <h2>Web Application Development</h2>

      </div>
      <div class="service2 animated  fadeInRightShort delay-500 ">
        <h2> Full Stack Developer</h2>

      </div>
    </div>
    </div>

  </section>
  <section class="middle2">

    <div class="portfolio">
      <div class="portfolioLeftLine"></div>
      <h6>SOME OF MY LATEST WORK</h6>
      <div class="portfolioRightLine"></div>

    </div>
    <div class="portfolioContent">
      <div class="project1">
      <a href="https://stormy-everglades-81765.herokuapp.com">  <img class="projectimg" src="../screenshot-localhost_3000-2021.01.27-11_40_32.png" alt=""></a>
        <p>Store locator <br>Web application </p>
         <a href="https://stormy-everglades-81765.herokuapp.com"><i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="project2">
        <a href="https://robsonmanata.github.io/dogfinder/"><img class="projectimg" src="../Screenshot (83).png" alt=""></a>
        <p> dogfinder app website<br> Responsive UI design</p>
        <a href="https://robsonmanata.github.io/dogfinder/"><i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="project3">
        <a href="https://robsonmanata.github.io/Keeper_app/"><img class="projectimg" src="../screenshot-localhost_3000-2021.01.28-00_21_04.png" alt=""></a>
        <p> React keeper web application <br>Interactive UI design </p>
        <a href="https://robsonmanata.github.io/Keeper_app/"><i class="fas fa-chevron-right"></i></a>

      </div>
      <a id="explore" href="/websitedesign">Explore more</a>
        <i style ="bottom: 22px;left: 95px;"class="fas fa-arrow-right"></i>

    </div>

    <div class="">

    </div>

  </section>
  <section class="middle3">
    <div class="blog">
      <div class="blogintro">
        <p>Blog</p>
        <h2>What's new on my blog and news .</h2>
      </div>
      <div class="bloglist">
        <div class="blog1">
          <p>Feb 26 Blog</p>
          <h6>A couple of tips for designing websites which are disability friendly .</h6>
          <a href="/blog"><i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="blog1">
          <p>Feb 26 Blog</p>
          <h6>How do you use time tracking for projects to save time through the project life cycle .</h6>
        <a href="/blog"><i class="fas fa-arrow-right"></i></a>
         </div>
        <div class="blog1">
          <p>Feb 26 Blog</p>
          <h6>the evolution of web design, here are some website design trends for 2021 .</h6>
          <a href="/blog"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>

    </div>
  </section>
  <section class="bottom">
    <div class="contactme"id="contactSection">
      <div class="contactMeIntro">
        <h2>Got a project? lets talk.</h2>
        <p>Tell me your name/company name , budget , goals , send images share as much information as you can and I will help define your next project</p>

        <a href="#message"><h5>send a message &#9758; </h5></a>


      </div>
      <div class="sendmessage">
        <h2>Tell me about your vision for the project and lets make that vision a reality .</h2>
      <!-- </div> -->
          <form action="/" method="post" enctype="multipart/form-data">
            <!-- <label for="name">Name</label> -->
            <input type="text" id="name" name="firstname" placeholder="Name">

            <!-- <label for="email">Email</label> -->
            <input type="email" id="email" name="emailaddress" placeholder="Email" required>

            <!-- <label for="service">Service</label> -->
            <select id="service" name="service">
              <option value="service">Choose a service</option>
              <option value="websiteDesign">website design</option>
              <option value="webApplication">web application</option>
              <option value="graphicProjects">graphic projects</option>
              <option value="database">database optimisation</option>
              <option value="collab">team/collaboration projects</option>
            </select>
            <div class="animatedParent">
                <textarea id="message" class="text animated  growIn" name="message" placeholder= &#9998;></textarea>
                <input style="width:108px" class="custom-file-input" type="file" id="attachment" name="attachment" accept="image/*" multiple>
            </div>

            <input onclick="alert("success")" type="submit" value="Submit">
          </form>
        </div>
        </section>
          <%-include("partials/footer")-%>
