<%-include("partials/header")-%>

<div class="successmessage">
  <img class="paperplane"src="360_F_219924594_TuLDuyw6W33NnIkSU8VQTbHiYulRuVUD-removebg-preview.png" alt="succesfull">
  <h1 class="successmessagetxt">Way to go</h1>
  <p class="successmessagetxt">Your message was delivered succefully</p>
</div>
