<%-include("partials/header")-%>

<div class="portfolioContentmain">
  <div class="project1">
    <a href="https://jade-tanuki-07db8e.netlify.app/">
    <img class="projectimg" src="../screenshot-jade-tanuki-07db8e.netlify.app-2023.03.15-22_18_50.png" alt="">
    </a>
    <p>Bouncing castle hiring <br>Website</p>
      <a href="https://stormy-everglades-81765.herokuapp.com"><i class="fas fa-chevron-right"></i></a>
  </div>
  
  <div class="project2">
    <a href="https://pictorial.netlify.app">
    <img class="projectimg" src="../screenshot-localhost_3000-2021.06.10-14_30_12.png" alt="">
    </a>
    <p> Pictorial web application <br>MongoDb Express React Nodejs</p>
      <a href="https://pictorial.netlify.app"><i class="fas fa-chevron-right"></i></a>
  </div>
  
  <div class="project1">
    <a href="https://stormy-everglades-81765.herokuapp.com">
    <img class="projectimg" src="../screenshot-localhost_3000-2021.01.27-11_40_32.png" alt="">
    </a>
    <p>Store locator <br>Web application </p>
      <a href="https://stormy-everglades-81765.herokuapp.com"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project2">
    <a href="https://robsonmanata.github.io/dogfinder/">
    <img class="projectimg" src="../Screenshot (83).png" alt="">
    </a>
  <p> dogfinder app website<br> Responsive UI design</p>
    <a href="https://robsonmanata.github.io/dogfinder/"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project1">
    <a href="https://robsonmanata.github.io/Keeper_app/">
    <img class="projectimg" src="../screenshot-localhost_3000-2021.01.28-00_21_04.png" alt="">
    </a>
    <p> React keeper web application <br>Interactive UI design </p>
      <a href="https://robsonmanata.github.io/Keeper_app/"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project2">
    <a href="https://pure-lake-95197.herokuapp.com/">
    <img class="projectimg" src="../screenshot-pure-lake-95197.herokuapp.com-2021.01.28-01_37_22.png" alt="">
    </a>
  <p>To-DO app Web application <br>Interactive UI design </p>
    <a href="https://pure-lake-95197.herokuapp.com/"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project1">
    <a href="/portfolio"">
    <img class="projectimg" src="../screenshot-localhost_3000-2021.01.28-00_36_48.png" alt="">
    </a>
  <p> Suggestion box <br> interactive UI design</p>
    <a href="/portfolio"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project2">
    <a href="/portfolio">
    <img class="projectimg" src="../screenshot-localhost_3000-2021.01.27-15_35_52.png" alt="">
    </a>
    <p> Weather Report <br>APl  data retrival</p>
      <a href="/portfolio"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project1">
    <a href="../Screenshot (97).png">
    <img class="e-magazine-img" src="../Screenshot (97).png" alt="">
    </a>
    <p> e-magazine page design <br>Design</p>
      <a href="../Screenshot (97).png"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project2">
    <a href="../Screenshot (89).png">
    <img class="e-magazine-img" src="../Screenshot (89).png" alt="">
    </a>
    <p> e-magazine page design <br>Design</p>
      <a href="../Screenshot (89).png"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project1">
    <a href="https://robsonmanata.github.io/to-do-list/">
    <img class="projectimg" src="../screenshot-localhost_3000-2021.01.28-00_15_11.png" alt="">
    </a>
      <p>To-DO React Web application  <br>Interactive UI design </p>
        <a href=" https://robsonmanata.github.io/to-do-list/"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="project2">
    <a href="https://fathomless-forest-11609.herokuapp.com">
    <img class="projectimg" src="../screenshot-localhost_3000-2021.01.27-14_44_55.png" alt="">
    </a>
    <p> News letter page <br>mailchimp</p>
      <a href="https://fathomless-forest-11609.herokuapp.com"><i class="fas fa-chevron-right"></i></a>
  </div>
</div>


<%-include("partials/footer")-%>
